# Comment & Basic Data Types

In [7]:
# this is a comment
"""
        This is multi-line comment
"""
print("Hello")      # this is also a comment

Hello

In [8]:
#  the following are all integers
print(2)
print(10)

2
10

In [9]:
# the follwoing are all floats
print(10.953)
print(8.0)        # even this number is a float

10.953
8.0

In [10]:
# the following are all booleans
print(True)
print(False)

True
False

In [11]:
# the following are strings
print(" ")
print('There''s a snake in my boot!')
print("There's a snake in my boot!")
print('True')
print(True)

Theres a snake in my boot!
There's a snake in my boot!
True
True

### Monday Challanges

In [4]:
# print out your name
print("Bartek")

# type-checking
type(int)
#type(5)
#type("string")
#type(5.89)

Bartek

type

## Variables

In [13]:
num1 = 5           # storing an integer into variable
num2 = 8.4         # storing a float into variable
print(num1, num2)  # you can print multiple items using comma

5 8.4

In [14]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [15]:
# storing strings into a variable
name  = 'John Smith'
fav_number = '9'
print(name, fav_number)  # will print 9 next to the name

John Smith 9

In [16]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [17]:
# adding, deleting, multiplying, dividing from a variable
result += 1      # same as saying result = result + 1
print(result)
result *= num1   # same as saying result = result * num1
print(result)

14.4
72.0

In [18]:
# defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [19]:
# whitespace
name = 'John Smith'
print(name)

John Smith

### Tuesday Exercises

In [20]:
# variable output
x = 3
y = 10
adding_result = x + y
print("{} + {} = {}".format(x, y, adding_result))

3 + 10 = 13

In [21]:
# area calculation
width = 245.54
heigth = 13.66
rectangle_area = width * heigth
print(rectangle_area)

3354.0764

## Working with Strings

In [22]:
# using addition operator without variables
name  = "John" + " " + "Smith"
print(name)

John Smith

In [24]:
# using th addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [25]:
# injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [26]:
# using the new f string
name = "John"
print(f"Hello {name}")

Hello John

In [28]:
# one major difference between Python versions 2 & 3
name = 'John'
print('Hello %s' % name)

Hello John

In [29]:
# python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print("Hello, %s %s" % (first_name, last_name))  # surround the variables in parenthesis

Hello, John Smith

In [33]:
# using indexes to print each element
word = "Hello"
print(word[0])    # will output 'H'
print(word[1])    # will output 'e'
print(word[-1])   # will output 'o'
print(word[-4])   # will output 'e'
#print(word[5])    # IndexError: string index out of range

H
e
o
e

In [38]:
# string slicing
# syntax for slicing
# >>> variable_name[ start : stop : step ]
print(word[0:2])    # will output 'He'
print(word[0:4:2])  # will output 'Hl'
print(word[0:5:2])  # will output 'Hlo'

He
Hl
Hlo

### Wednesday exercises

In [40]:
# variable injection
number = 23
float_number = 4.5
boolean_flag = False
string_example = "John"
print("integer {} float {} boolean {} string {}".format(number, float_number, boolean_flag, string_example))

integer 23 float 4.5 boolean False string John

In [44]:
# Fill in blanks
name = "Bartek"
sport = "football"
language = "Python"
print("{}'s favourite sports is {}.".format(name, sport))
print("{} is working on {} programming!".format(name, language))

Bartek's favourite sports is football.
Bartek is working on Python programming!

### String manipulation

In [5]:
# using title method to capitalize a string
name = "john smith"
print(name.title())
print(name)
print(name.lower())
name = name.upper()
print(name)
name = name.lower()
print(name)
print(name.upper())

John Smith
john smith
john smith
JOHN SMITH
john smith
JOHN SMITH

In [7]:
# replacing exclamation point with a period
words = "Hello there!"
words = words.replace("!", ".")
print(words)

Hello there.

In [8]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [11]:
# removing white space with strip
name = "   john   "
print(name)
print(name.strip())
print(name.lstrip())
print(name.rstrip())

   john
john
john
   john

In [12]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

### Thursday exercises

In [13]:
# Uppercasing
string_to_uppercase = "uppercase"
print(string_to_uppercase.upper())

UPPERCASE

In [15]:
# Strip symbols
string_to_strip = "$$John Smith"
print(string_to_strip)
print(string_to_strip.strip("$"))

$$John Smith
John Smith

# Friday Project: Printing Receipts.

In [72]:
#create product and price for each item
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

#create company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"

# create top border
print("*" * 52)

# print company information first, using format
print("*\t\t{}\t\t   *".format(company_name.title()))
print("*\t\t{}\t\t   *".format(company_address))
print("*\t\t{}\t\t\t   *".format(company_city))

# print a line between sections
print("*{}*".format("=" * 50))

# print out header for section of items
print("*\tProduct Name\tProduct Price\t\t   *")

# create print statement for each product
print("*\t{}\t\t${}\t\t\t   *".format(p1_name.title(), p1_price))
print("*\t{}\t${}\t\t\t   *".format(p2_name.title(), p2_price))
print("*\t{}\t\t${}\t\t\t   *".format(p3_name.title(), p3_price))

# print a line between sections
print("*{}*".format("=" * 50))

# print out header for section of total
print("*\t\t\tTotal\t\t\t   *")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print("*\t\t\t${}\t\t\t   *".format(total))

# print a line between sections
print("*{}*".format("=" * 50))

# output thank you message
print("*\t\t\t\t\t\t   *\n*\t{}\t   *\n*\t\t\t\t\t\t   *".format(message))

# create bottom border
print("*" * 52)

****************************************************
*		Coding Temple, Inc.		   *
*		283 Franklin St.		   *
*		Boston, MA			   *
*==================================================*
*	Product Name	Product Price		   *
*	Books		$49.95			   *
*	Computer	$579.99			   *
*	Monitor		$124.89			   *
*==================================================*
*			Total			   *
*			$754.83			   *
*==================================================*
*						   *
*	Thanks for shopping with us today!	   *
*						   *
****************************************************

### Weekly challanges

In [6]:
# Challange 1 - done above
# Challange 2 - other methods of strings manipulation
stringToManipulate = "Hello world"
print(stringToManipulate.swapcase())
print("".join(reversed(stringToManipulate)))

hELLO WORLD
dlrow olleH

In [24]:
# Reverse using slicing
text = "Hello"
print(text[::-1])

olleH